.header-content {
    border-bottom: 1px solid grey;
}
.header {
    width: 954px;
    height: 54px;
    margin: 0px auto;
    display: flex;
    align-items: center;

    &__element {
        width: 33%;
    }
}
.search-field {
    width: 100%;
  }

.buttons {
    display: flex;
    justify-content: flex-end;

    &__elm {
        padding-left: 20px;
    }
}