<div class="info-container">
  <div class="info-container__avatar">
    <img class="avatar" src="./assets/images/ava.jpg">
  </div>
  <div class="info-container__info">
    <div class="username">
      <span class="username__name">dunai_</span>
      <button class="username__button" mat-raised-button>Edit Profile</button>
      <mat-icon class="buttons__elm">settings</mat-icon>
    </div>
    <div class="username">
      <span><strong>21</strong> posts</span>
      <span class="username__button"><strong>159</strong> followers</span>
      <span><strong>122</strong> following</span>
    </div>
    <div class="citate">WORK HARD UNTIL YOU DON'T NEED TO INTRODUCE YOURSELF</div>
  </div>
</div>
